<p id="notice"><%= notice %></p>

<h1>コメント一覧</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.body %></td>
        <td><%= comment.user.name %></td>
        <% if current_user == comment.user %>
        <td><%= link_to 'Show', [@report, comment] %></td>
        <td><%= link_to 'Edit', [:edit, @report, comment] %></td>
        <td><%= link_to 'Destroy', [@report, comment], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_report_comment_path %>
