<p id="notice"><%= notice %></p>

<p>
  <strong><%= Comment.human_attribute_name(:body) %>:</strong>
  <%= @report_comment.body %>
</p>

<%= link_to t('.edit'), edit_report_comment_path %> |
<%= link_to t('.back'), report_comments_path %>
