<h1><%= t('.followers_page') %></h1>

<% @users.each do |user| %>
  <hr>
  <% if user.followed_by?(current_user) %>
    <p><strong><%= link_to user.name, user_path(user.id) %></strong></p>
    <p><%=link_to t('.followed'), user_user_relationships_path(user.id), method: :delete %></p>
  <% else %>
    <p><strong><%= link_to user.name, user_path(user.id) %></strong></p>
    <p><%=link_to t('.following'), user_user_relationships_path(user.id), method: :post %></p>
  <% end %>  
<% end %>
