<p id="notice"><%= notice %></p>

<p>
  <strong><%= Comment.human_attribute_name(:body) %>:</strong>
  <%= @book_comment.body %>
</p>

<%= link_to t('.edit'), edit_book_comment_path %> |
<%= link_to t('.back'), book_comments_path %>
